<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chi tiết học viên</title>
</head>
<body>
    <h2 th:if="${student == null}"> Không tìm thấy học viên </h2>
    <ul th:if="${student != null}">
        <li th:text = "${student.id}"></li>
        <li th:text = "${student.name}"></li>
        <li th:text = "${student.email}"></li>
        <li th:text = "${student.phone}"></li>
        <li th:text = "${student.score}"></li>
        <li></li>
    </ul>
    
</body>
</html>